.signupForm > span {

}

#profileBtn {
    position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
  }

  .signupimgbox {
    margin-bottom:2%;
  }

  #profilelabel {
      margin-bottom: 2%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    font: inherit;
    text-decoration: none;
    border: 2px solid #34a8eb;
    border-radius: 18px;
    color: #444444;
    padding: 4px 32px;
    font-size: 18px;
    line-height: 24px;
    background: #34a8eb;
    color: #f8f8f8;
    border-radius: 18px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    font-weight: bold;
  }
  #profilelabel:hover {
    box-shadow: 0px 0px 0px 2px #34a8eb;
  }
  #buttonarea{
    margin-left:25%
  }