.test1{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:bold; 
    color:black;
}
.test{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:bold; 
    color:white;
}
.test2{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:600; 
    color:black;
}